body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.upload-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 30vh;
    position: relative;
}

.button-container {
    position: absolute;
    top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.circle-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    margin: 0 5px;
    cursor: pointer;
}

.search-bar {
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    position: relative;
    z-index: 0;
}

.queue-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}


/* ... (previous CSS code) ... */

.music-list-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#music-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    
    grid-gap: 10px;
}

#music-list li {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#music-list li:nth-child(n+1) {
    opacity: 0.8;
}

#music-list li:nth-child(n+2) {
    opacity: 0.6;
}

#music-list li:nth-child(n+3) {
    opacity: 0.4;
}

#music-list li:nth-child(n+4) {
    opacity: 0.2;
}

#music-list li:nth-child(n+5) {
    opacity: 0;
}